<form [formGroup]="personDetailsForm" (ngSubmit)="submit()">
   <button type="button" (click)="addDetailsArray()">Add details</button>
   
  <div formArrayName="detailsArray">
   <div *ngFor="let address of detailsArray.controls; let i=index">
    <div [formGroupName]="i">
	<label >
    ID:
	<input type="text" formControlName="id">
	</label>
  <label>
    First Name:
    <input type="text" formControlName="first_name">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="last_name">
  </label>

  <label>
    Age:
    <input type="text" formControlName="age">
  </label>

    <label>
    Favorite Colour:
    <input type="text" formControlName="favorite_colour">
  </label>
  
  <label>
  Hobby:
      <select multiple  formControlName="hobby">
              <option value="">Choose your hobby</option>
              <option *ngFor="let hobby of hobbyArray" [ngValue]="hobby" >{{hobby}}</option>
            </select>
			</label>
			 
			 
			  <button type="button" (click)="deleteDetailsArray(i)">Remove</button>
			 
  

  </div>
  </div>
</div>
<button type="submit" >Submit</button>
</form>

<br>
<br>


    <div >
      
    <span >Id</span>
	&nbsp;&nbsp; 
    <span>First Name</span>
	&nbsp;&nbsp;
    <span>Last Name</span>
	&nbsp;&nbsp;
	<span>Age</span>
	&nbsp;&nbsp;
	<span>Favorite Color</span>
	&nbsp;&nbsp;
	<span>Hobby</span>
  </div>
          <div  *ngFor="let personList of reponsePersonList">
  <span>{{personList.personId}}</span>
  &nbsp;&nbsp;
  <span>{{personList.first_name}}</span>
  &nbsp;&nbsp;
  <span>{{personList.last_name}}</span>
  &nbsp;&nbsp;
  <span>{{personList.age}}</span>
  &nbsp;&nbsp;
  <span>{{personList.favorite_colour}}</span>
  &nbsp;&nbsp;
  <span>{{personList.hobby}}</span>
  </div>
      
  
  <div>